.artical_section {
    background: rgb(250, 250, 250);
    // width: 100%;
    // height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block-end: 5rem;
    justify-content: space-between;

    .artical_cards_container {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 32px;
            font-weight: 400;
            padding-block-start: 3rem;
    
        }
        ul {
            
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 6rem;
            padding: 0;
            justify-content: space-between;

            .artical_card {
                background-color: white;
                display: flex;
                flex-direction: column;
                width: 330px;
                height: 460px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                border-radius: 0.35rem;
                .artical_image {
                    width: 330px;
                    height: 260px;
                    border-start-end-radius: 0.35rem;
                    border-start-start-radius: 0.35rem;
                }
                span {
                    font-size: 15px;
                    font-weight: 200;
                    color: #9597A5;
                    padding-inline: 2rem;
                    padding-block-start: 1rem

                };
                h5 {
                    padding-inline: 1rem;
                    font-weight: 500;
                    font-size: 16px;
                    margin-block: 1rem;
                    padding-inline: 2rem 4.5rem;

                    &:hover {
                        color: #29ac4c;
                        text-decoration: underline;
                    }

                }
                p {
                    all: unset;
                    color: #9597A5;
                    font-size: 14px;
                    font-weight: 300;
                    padding-inline: 1rem;
                    padding-block-end: 1rem;
                    padding-inline: 2rem;

                }
            }
        }
    }


    @media screen and (max-width:1650px) and (min-width:900px)  {
        // align-items: self-start;
        .artical_cards_container {
            ul {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                justify-content: space-between;
                gap: 5rem;
                .artical_card {
                    width: 350px;
                    height: 460px;
                    .artical_image {
                        width: 350px;
                        height: 260px;
                        border-start-end-radius: 0.35rem;
                        border-start-start-radius: 0.35rem;
                    }
                
                }
            }
        }
    }
  
}

@media screen and (min-width: 1950px) {
    .artical_section {
        // align-items: normal;
        height: 65vh;
        .artical_cards_container { 
            h2 {
                margin-inline-start: 5rem;
            }
            ul {
                
                padding-inline: 5rem;

                .artical_card { 
                    width: 400px;
                    height: 500px;

                    .artical_image { 
                        width: 400px;
                        // height: 400px;
                    }
                    span {
                        font-size: 17px;
                        font-weight: 200;
                        color: #9597A5;
                        padding-inline: 2rem;
                        padding-block-start: 1rem
    
                    };
                    h5 {
                        font-size: 24px;

                    }
                    p {
                        font-size: 18px;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) { 
    .artical_section {
        height:auto;
        .artical_cards_container {

            h2 {
                text-align: center;
            }
            ul {
                display: grid;
                grid-template-columns: repeat(1,1fr);
                // flex-direction: column;
                gap: 2rem;
                padding: 0;
                .artical_card {
                    width: 350px;
                    .artical_image {
                        width: 350px;
                        height: 270px;
                    }
                }
            }
        }
    }
}